:root {
  --bg-primary: #0f172a;
  --bg-secondary: #1e293b;
  --bg-card-hover: #334155;

  --color-primary: #3b82f6;
  --color-primary-hover: #2563eb;

  --color-success: #22c55e;

  --color-danger: #ef4444;
  --color-danger-hover: #951717;

  --text-primary: #ffffff;
  --text-secondary: #cbd5e1;

  --border-color: #475569;

  --font-primary: Arial, Helvetica, sans-serif;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BASE */
body {
  font-family: var(--font-primary);
  font-weight: 500;
  background: var(--bg-primary);
  color: var(--text-primary);
}

/* GARANTE QUE FORM ELEMENTS NÃO QUEBREM */
button,
input,
select,
textarea {
  font-family: inherit;
}

/* TIPOGRAFIA */
h1 {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -0.5px;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.3px;
}

h3 {
  font-size: 18px;
  font-weight: 600;
}

/* UTILITÁRIOS */
.page-container {
  padding: 40px;
}

.form-group {
  margin-top: 10px;
}

.section {
  margin-top: 20px;
}